body {
  font-family: 'Raleway', sans-serif;
}

header {
  padding: 20px 0;
}

.caixa {
  position: relative;
  margin: 0 10%;
  vertical-align: middle;
  color: #464646;
}

.caixa h1 {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin: 0 8px;
}

.logo-header {
  width: 22px;
  }

nav {
  align-items: right;
  display: inline-block;
  position: absolute;
  top: 11px;
  right: 0;
}

nav li {
  position: relative;
  display: inline;
  padding-left: 20px;
}


.menu-principal {
  margin: 0 10%;
  padding: 20px 0;
  display: inline-block;
}

.texto-menu {
  padding: 100px 0;
}

.texto-menu h2 {
  font-size: 52px;
  font-weight: bold;
  padding-right: 40px;
  padding-bottom: 24px;
}

.texto-menu p {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 20px;
}

.foto {
  width: 368px;
  border-radius: 50%;
  float: right;
  margin-left: 20px;
}

.menu-principal li {
  display: inline;
  margin-right: 20px;
}

.menu-principal a {
  text-decoration: none;
}

.menu-principal a img {
  width: 11.4px;
  margin-left: 5px;
}

.titulo-secao {
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 1em;
  text-align: center;
  color: #464646;
}

.sobre-mim {
  background: #eaf2fd;
  padding: 64px 0;
}

.conteudo-sobre-mim {
  margin: 0 10%;
}

.conteudo-sobre-mim .titulo-secao {
  text-align: left;
}

.conteudo-sobre-mim p {
  width: 751px;
  font-size: 16px;
  line-height: 18.78px;
  text-align: justify;
}

.skills-hobbies {
  padding: 64px 0;
  margin: 0 10%;
}

.skills-hobbies img {
  height: 37px;
  padding-bottom: 5px;
}

.skills-hobbies ul {
  text-align: center;
}

.skills-hobbies li {
  display: inline-block;
  text-align: center;
  width: 12%;
  vertical-align: bottom;
  margin: 0 1.5%;
}

.skills-hobbies p {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #464646;
}
